.flex-container {
    display: grid;
    grid-template-columns: 309px 309px 309px 309px;
    grid-column-gap: 2px;
    align-items: center;
  }

.panel {
    background-color: white;
    width: 309px;
    margin: 1px;
    position: relative;
    height: 165px;
}

.issue-title {
    margin-left: 16px;
    margin-right: 21px;
    font-size: 14px;
    color: #161616;
    letter-spacing: 0.16px;
    line-height: 18px;
}

.div-title {
    overflow: hidden;
    padding-top: 20px;
    width: 1244px;
    height: 30px;
    font-size: 16px;
    color: #161616;
    letter-spacing: 0;
    line-height: 22px;
}

.div-width {
    width: 1244px;
}

.date {
    margin-left: 16px;
    margin-right: 21px;
    font-size: 12px;
    color: #525252;
    letter-spacing: 0.32px;
    text-align: left;
    line-height: 16px;
}

.link {
    text-decoration: none;
    font-size: 14px;
    color: #0F62FE;
    letter-spacing: 0.16px;
    line-height: 18px;
}

.view-issue {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.button {
    text-decoration: none;
    display: inline-block;
    background: url('../../add.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: #0f62fe;
    background-position-x: 169px;
    background-position-y: 8px;
    height: 19px;
    width: 185px;
    color: white;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-left: 16px;
}

.new-issue-position {
    float: right;
    margin-left: 2rem;
}

.view-all-position {
    float: right;
}

.view-milestone {
    float: right;
}
