/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

body{
  font-family: Open Sans, Helvetica, Sans Serif;
  padding-top:20px;
}

.green{
  background:green;
}

.red{
  background:red;
}

.grey{
  background:gray;
}

.panel-danger .panel-heading h3,
.panel-danger .panel-body p
{
  font-weight:600;
}

h2 a{
  font-weight:300;
  color:#aaa;
}

footer{
  margin-top:20px;
  margin-bottom:20px;
}

.logo {
  width: 34px;
  margin-top: -5px;
}